* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px 60px;
}

hr {
  border-top: 1px solid #000;
}

select {
  margin-left: 10px;
  width: 100px;
  height: 25px;
}

form {
  width: 80%;
}

.translationHeaderButtons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.translationButtonSelected {
  border: 3px solid #000;
}
